<div class='container-fluid'>
    <div class="row" id="addSpaceTop">
        <hr style="background-color:grey;">
    </div>
    <div class="card" style="margin-bottom:10px;">
        <div class="row" id="addSpaceTop">
            <div class='col-md-12 d-flex justify-content-center'>
                <h2 class="header" id='stratProc'>Strategic Procurement of Energy</h2>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Devising a procurement strategy for any
                            product
                            or service can be a daunting task for an organization.
                            Our service takes away any questions and uncertainty around how and when to go to market.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <img class='iconSet' src="../../../assets/Icons/Flame.png" alt="Flame.png">
                        <h5 class="card-title d-flex justify-content-center">Current and Future Energy Footprint</h5>
                        <p class="card-text d-flex justify-content-center">Developing a comprehensive energy blueprint
                            and roadmap is the forefront of any successful energy
                            management plan. Without a clear understanding of how and when an organization consumes its
                            energy, executing a procurement plan can oftentimes result in increased costs and a plethora
                            of
                            headaches. JMI takes the time to fully understand our client’s current energy patterns, as
                            well as any
                            consumption changes expected in the future expected increases in energy before recommending
                            any
                            procurement strategy. A successful procurement strategy must consider current and future
                            requirements.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <img class='iconSet' src="../../../assets/Icons/Shake.png" alt="Shake.png">
                        <h5 class="card-title d-flex justify-content-center">Procurement Process</h5>
                        <p class="card-text d-flex justify-content-left">Once we have a full understanding of current
                            and
                            future usage patterns, our Analyst team goes to work
                            on behalf of our Client to solicit third-party energy suppliers for our Client’s energy
                            requirements. All
                            suppliers on our bid platform have been fully vetted to ensure only the most reputable
                            organizations in
                            the industry are involved in the bid and given access to our Client’s. Suppliers must not
                            only
                            pass our
                            rigorous vetting process; they must also provide the products and services required for the
                            Client’s
                            individualized long-term energy strategy.</p>
                        <p class="card-text d-flex justify-content-left">Once bids are received from the suppliers
                            participating in our Client’s RFP process, our Analysts
                            scrutinize the pricing to ensure bid parody across all participants. Following bid
                            submission,
                            our Client’s
                            receive a full report with all bids received, as well as a full budget report under each
                            purchasing scenario
                            recommended by JMI’s Analysts.</p>
                        <p class="card-text d-flex justify-content-left">When a client chooses a particular price and
                            supplier, JMI works to attain any language changes on the
                            supplier’s contract and to confirm the contract is shaped in the Client’s favor. Following
                            contract
                            execution, our team ensures the supplier enrolls the Client’s account(s) with the Utility
                            company on the
                            correct meter read and are billed at the contracted rate.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <img class='iconSet' src="../../../assets/Icons/PaperClip.png" alt="PaperClip.png">
                        <h5 class="card-title d-flex justify-content-center">Budget Forecasting and Contract Performance
                            Support</h5>
                        <p class="card-text d-flex justify-content-center">JMI’s work isn’t finished when the Client
                            enters
                            an agreement through one of our vetted suppliers. We
                            are constantly monitoring the energy markets to identify any opportunities to improve
                            current
                            contracts
                            and reduce future costs.</p>
                        <p class="card-text d-flex justify-content-left">We also provide fully-customized budgetary and
                            contract performance reports in an easy to read
                            format. Any procurement process faces scrutiny from many angles. Our performance reports are
                            designed to take away any guesses as to if the contracts chosen are performing versus
                            previous
                            contracts or market conditions. Budget and contract performance reports can be delivered at
                            any
                            cadence and can be integrated into any procurement plan.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="addSpaceTop">
        <hr style="background-color:grey;">
    </div>
    <div class="card" style="margin-bottom:10px;">
        <div class="row" id="addSpaceTop">
            <div class='col-md-12 d-flex justify-content-center'>
                <h2 class="header" id='utilAud'>Utility Bill Auditing</h2>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-left">An average utility invoice contains dozens of
                            cost
                            components adding up to the total amount due each
                            month. With thousands of customers and dozens of components, mistakes happen…in fact,
                            utility
                            invoices can contain errors nearly one-third of the time. Our Utility Bill Auditing Team
                            meticulously
                            examines our Clients’ invoices to ensure our customers are not a part of the one-third of
                            customers with
                            errors on their monthly invoices.</p>
                        <p class="card-text d-flex justify-content-left">Submit 12 to 24 months of utility billing,
                            along
                            with proper utility authorization forms and any applicable
                            supply contracts, and our Utility Bill Auditing Team does the rest. Should our team find a
                            discrepancy on
                            your invoice copy, our Dispute Resolution Specialists go to work on your behalf to obtain a
                            full
                            refund
                            for the disputed amount. Further, our team works with the utility companies and suppliers to
                            confirm
                            the billing errors have been corrected on a forward basis.</p>
                        <p class="card-text d-flex justify-content-left">Whether our team finds errors on your utility
                            billing and works to resolve the dispute and have your
                            account(s) credited or no errors are found, you gain the peace of mind knowing you haven’t
                            overpaid
                            and are being billed under the correct rate schedule. All without paying any fees to JMI
                            unless
                            a
                            discrepancy is found and a refund is issued by the provider for the error(s).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="addSpaceTop">
        <hr style="background-color:grey;">
    </div>
    <div class="card" style="margin-bottom:10px;">
        <div class="row" id="addSpaceTop">
            <div class='col-md-12 d-flex justify-content-center'>
                <h2 class="header" id='utilMana'>Utility Bill Management</h2>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Managing a mountain of utility bills each
                            month
                            can be an intimidating daunting task for any accounts
                            payable department. Searching for missing recurring invoices is time-consuming and may
                            result in
                            late
                            fees, service interruptions or credit issues. Even when a utility invoice is received, how
                            is
                            your
                            organization going about verifying the charges received match the utility tariff and your
                            supply
                            contract?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <img class='iconSet' src="../../../assets/Icons/Time.png" alt="Time.png">
                        <h5 class="card-title d-flex justify-content-center">Streamlined Processing and Payment</h5>
                        <p class="card-text d-flex justify-content-left">JMI’s complete Utility Bill Management solution
                            is
                            designed to work alongside your accounts payable
                            department for a cohesive processing and payment operation. Our solution utilizes digital
                            bill
                            processing and payment to ensure bills are coded correctly and applied to the correct cost
                            center, which in turn reduces time spent
                            manually coding and reconciling monthly utility invoices by your accounts payable
                            department. Payments are delivered securely, on-time, and without the headache of delivering
                            multiple checks or online payments month in and month out. The Utility Bill Management
                            solution
                            can be custom
                            fit to your accounting department’s particular needs and existing infrastructure.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <img class='iconSet' src="../../../assets/Icons/Money.png" alt="Money.png">
                        <h5 class="card-title d-flex justify-content-center">Late Fee and Service Interruption Reduction
                        </h5>
                        <p class="card-text d-flex justify-content-left">Late fees can account for hundreds of thousands
                            of
                            dollars in budget issues for an organization. Paying a
                            fee for simply forgetting to drop a check in the mail is a waste of your organization’s
                            valuable
                            resources.
                            If a bill goes unpaid for long enough, you can be paid a visit by a rep from your local
                            utility
                            company
                            demanding immediate payment or your utility service will be disconnected. Late fees and
                            service
                            interruptions are nearly unheard of with our solution as our Missing Billing Team initiates
                            an
                            investigation with the utility providers directly when a bill goes unreceived. This gives
                            you
                            the peace of
                            mind you need to operate your business and not worry if you forgot to drop a check in the
                            mail
                            or not.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <img class='iconSet' src="../../../assets/Icons/ThumbsUp.png" alt="ThumbsUp.png">
                        <h5 class="card-title d-flex justify-content-center">Online User Access</h5>
                        <p class="card-text d-flex justify-content-left">If you’re like most end-users, your utility
                            bill
                            comes each month, you pay it and file it away. Should the
                            need arise to have a historical invoice or bill insert immediately, sifting through a filing
                            cabinet of old
                            utility invoices can be the last thing you want to do.</p>
                        <p class="card-text d-flex justify-content-left">Our Utility Bill Management solution comes with
                            the
                            data you need, at your fingertips. Each bill received
                            is uploaded into a secure, cloud-based platform where users can download, examine, and
                            export
                            any
                            information received through the service. Automatic triggers and reports can also be input
                            into
                            the
                            system to deliver reports on a recurring basis, and notify users that new data has been
                            received. Should
                            the need arise for an ad hoc report to be prepared, the system has the capability of
                            delivering
                            any data
                            in a raw format.</p>
                        <p class="card-text d-flex justify-content-left">Set up some time today to review our online
                            platform and speak with one of our Utility Bill Management
                            Specialists Today!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="addSpaceTop">
        <hr style="background-color:grey;">
    </div>
    <div class="card" style="margin-bottom:10px;">
        <div class="row" id="addSpaceTop">
            <div class='col-md-12 d-flex justify-content-center'>
                <h2 class="header" id='genEn'>Expert Energy Management Consulting</h2>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Faced with hundreds of options claiming they
                            will
                            all save energy and reduce costs, end-users can
                            become muddled in their decisions on which project or service may fit their needs the best.
                            Often times,
                            solutions are presented to clients without any investigation into the impact it may have on
                            other areas
                            of a clients energy spend. If not examined meticulously, the implementation of certain
                            energy-
                            saving/energy management solutions can cannibalize expected savings from projects/solutions
                            already
                            in place.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-left">With a full understanding of the impacts of
                            most
                            energy management products and strategies, our firm
                            assists in conducting a full evaluation of any energy management solutions in place or being
                            proposed to
                            our clients. Considering the downstream impacts of any energy management product or strategy
                            are
                            of
                            the utmost importance in achieving expected results from the implementation of a
                            comprehensive
                            energy roadmap. If singular inputs are not fully evaluated, the implementation of a certain
                            product/strategy can actually result in negative results for clients.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-left">We’re here to take the guesswork out of
                            evaluating
                            any energy project or strategy alongside our clients.
                            Before implementing any project or strategy, let our team conduct a no-cost, no-obligation
                            review of
                            your organization’s current and expected energy footprint to ensure the project/strategy
                            will
                            produce
                            the realized results you’re looking for. Whether it be a solar project, power factor
                            correction
                            initiative,
                            combined heat and power, onsite energy storage, lighting upgrade, or something as simple as
                            choosing
                            a third-party supplier, allow our experienced Team of Analysts to sign off on the strategy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="addSpaceTop">
        <hr style="background-color:grey;">
    </div>
    <div class="card" style="margin-bottom:10px;">
        <div class="row" id="addSpaceTop">
            <div class='col-md-12 d-flex justify-content-center'>
                <h2 class="header" id='utilRate'>Utility Rate Analysis</h2>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Each utility company and third party supplier
                            has
                            dozens of applicable rate classes and tariff rates it may
                            bill customers under. How does an end-user ensure their utility bill matches their
                            particular
                            usage
                            patterns and demand requirements?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-left">The way each consumer uses energy is unique,
                            and
                            the rates at which an account is billed for its
                            consumption should reflect this individuality. Being invoiced by the utility company or
                            third-party
                            supplier at an incorrect rate class can result in thousands of dollars being overcharged
                            each
                            month. If
                            not evaluated and reconciled immediately, it may be difficult to recover that money from the
                            vendor.
                            Our Utility Billing Experts understand each utility rate class and can perform a no-cost
                            Utility
                            Rate
                            Analysis in any utility zone.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-left">Often times, end-users are placed on the
                            utility’s
                            default service class, based on location and general
                            requirements, simply for ease of invoicing. Clients often do not realize there are multiple
                            tariffs available
                            within a given utility zone for which they may choose to purchase their energy requirements.
                            Our
                            Team
                            of Analysts model our clients’ current and expected energy consumption under all available
                            utility tariffs
                            to confirm all accounts are set up on the most beneficial utility rate class available. If
                            an
                            alternative tariff
                            is more beneficial than the current rate class, our team works on the customer’s behalf to
                            switch to the
                            preferred rate class in a seamless and timely manner.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-left">Should only one tariff be available within a
                            given
                            utility zone, our Analysts can model a client’s energy
                            consumption under various schedules to devise an optimal operating schedule. Recommendations
                            often
                            include scaled start-up schedules, off-peak production schedules, and individualized
                            manufacturing
                            plans. You may only have one choice for a billing rate, but through more informed decision
                            making
                            around how and when you choose to operate, you can minimize how much you spend on energy
                            each
                            month.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="addSpaceTop">
        <hr style="background-color:grey;">
    </div>
    <div class="card" style="margin-bottom:10px;">
        <div class="row" id="addSpaceTop">
            <div class='col-md-12 d-flex justify-content-center'>
                <h2 class="header" id='budFor'>Budget Forecasting and Performance Reporting</h2>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-left">Energy is a huge component in any
                            organization’s
                            budget, particularly for large commercial and
                            industrial users. Accurately providing figures for current and future expenditures are key
                            elements in
                            operating a successful business. Through our Budget Forecasting and Performance Reporting
                            services,
                            our Analysts provide support and eliminate variances in annual budgeting. Our reporting
                            services
                            are
                            fully customized to meet the requirements of each of our clients to ensure they have the
                            information
                            they need when they need it. Each Client is unique in the way they need information, and our
                            service
                            provides the customized support they need to make educated decisions around current and
                            future
                            market conditions and consumption patterns.</p>
                        <p class="card-text d-flex justify-content-left">Transparency in evaluating the performance of a
                            procurement contract is oftentimes hard to come by.
                            Overstating savings, comparing savings only to the previous contracts instead of current
                            market
                            conditions, and deliberate oversight of the performance of energy contracts are extremely
                            common
                            in
                            the industry. There should be no question that the performance of a contract over time is a
                            critical
                            component in choosing any energy partner. At JMI, we are 100% Client focused, and as such,
                            deliver on
                            our recommendations through consistent performance reporting to our Clients.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <img class='iconSet' src="../../../assets/Icons/ExperienceBubble.png"
                            alt="ExperienceBubble.png">
                        <h5 class="card-title d-flex justify-content-center">Experience</h5>
                        <p class="card-text d-flex justify-content-center">Through their experience, JMI’s Principal
                            Officers have established relationships with countless energy
                            providers and have learned the many nuances between them. It is through this experience that
                            JMI’s
                            founders decided to launch an organization to continually assist customers in navigating the
                            industry.
                            JMI works with a multitude of energy providers and is constantly seeking to expand our
                            service
                            offerings
                            through continued and new provider relationships.</p>
                        <p class="card-text d-flex justify-content-left">The Principal Officers of JMI have over 35
                            years of
                            experience in the deregulated energy industry,
                            managing the relationships of over 3,000 commercial customers throughout the United States.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="addSpaceTop">
        <hr style="background-color:grey;">
    </div>
    <div class="card" style="margin-bottom:10px;">
        <div class="row" id="addSpaceTop">
            <div class='col-md-12 d-flex justify-content-center'>
                <h2 class="header" id='specEn'>Specialized Energy Products and Services</h2>
            </div>
        </div>
        <div class="row" id="addSpaceTop">
            <div class='col-md-12'>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Choosing an energy partner can be difficult
                            with
                            each claiming to have the best rates and access to
                            multiple energy providers. One important factor to consider when beginning your endeavor
                            into
                            finding
                            the best partner is access to specialized products and services within those energy
                            providers.
                            In most
                            cases, only the most sophisticated and knowledgeable consultants are granted access to
                            custom-
                            tailored products and services, which can have a significant impact on spending for any
                            end-user. JMI’s
                            Team of Analysts is recognized as one of the most intelligent in the industry and is often
                            turned to by
                            energy providers to evaluate new products and strategies. Simply put, we have access to
                            exclusive
                            products and services which our competitors may be unaware of.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="addSpaceTop">
        <hr style="background-color:grey;">
    </div>
</div>