<div class='row justify-content-end bannerText'>
    <div class='col-md-6'>
        <h1>JMI Consultants</h1>
        <h3>Energy Made Easy</h3>
        <p style="margin-top: 25px;"> JMI Consultants, LLC (JMI) is a full-service sonsulting firm, focused on
            delivering simple solutions in a
            complex
            market. Navigating options throughout the energy markets can appear to be an impossible task with the
            endless
            combinations of solutions to monitor and manage an organization's energy spend. Our firm is focused on
            delivering
            comprehensive solutions which work cohesively with on another to maximize value. With over 35 years of
            combined
            experience, JMI's principals bring industry-leading knowledge and innovative ideas to tackle any energy
            needs.
            Working with JMI is the equivalent of hiring several full-time energy managers directly for your
            organization.
        </p>
    </div>
</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-4' id="addSpaceTop">
            <div class="card hoverChange" id='services' routerLink='/services'>
                <div class='row justify-content-center'>
                    <img class='iconSet' src="../../../assets/Icons/ElectricBubble.png" alt="ElectricBubble.png">
                </div>
                <div class="card-body">
                    <h3 class="card-title d-flex justify-content-center">Services</h3>
                    <p class="card-text d-flex justify-content-center">Brief One liner about category</p>
                </div>
            </div>
        </div>
        <div class='col-md-4' id="addSpaceTop">
            <div class="card hoverChange" id='aboutUs' routerLink='/about-us'>
                <div class='row justify-content-center'>
                    <img class='iconSet' src="../../../assets/Icons/PeopleBubble.png" alt="PeopleBubble.png">
                </div>
                <div class="card-body">
                    <h3 class="card-title d-flex justify-content-center">About Us</h3>
                    <p class="card-text d-flex justify-content-center">Brief One liner about category</p>
                </div>
            </div>
        </div>
        <div class='col-md-4' id="addSpaceTop">
            <div class="card hoverChange" id='contact' routerLink='/contact-us'>
                <div class='row justify-content-center'>
                    <img class='iconSet' src="../../../assets/Icons/PeopleBubble.png" alt="PeopleBubble.png">
                </div>
                <div class="card-body">
                    <h3 class="card-title d-flex justify-content-center">Contact Us</h3>
                    <p class="card-text d-flex justify-content-center">Brief One liner about category</p>
                </div>
            </div>
        </div>
    </div>
</div>