<nav class="navbar navbar-expand-sm navbar-dark" style='background-color:black;'>
    <!-- Brand -->
    <a class="navbar-brand"><img src="assets/Email_Logo.png" alt="JMI Logo" width=90px style='margin-left:15px;'></a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/who-we-are" routerLinkActive="active">Who We Are</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link" routerLink="/services" routerLinkActive="active">
                Our Services
            </a>
            <!-- <a class="nav-link dropdown-toggle" routerLink="/services" routerLinkActive="active" id="navbardrop"
                data-toggle="dropdown">
                Our Services
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="fullserve.html">Strategic Procurement of Energy</a>
                <a class="dropdown-item" href="fullserve.html#utilAud">Utility Bill Auditing</a>
                <a class="dropdown-item" href="fullserve.html#utilMana">Utility Bill Management</a>
                <a class="dropdown-item" href="fullserve.html#genEn">General Energy Management Consulting</a>
                <a class="dropdown-item" href="fullserve.html#utilRate">Utility Rate Analysis</a>
                <a class="dropdown-item" href="fullserve.html#budFor">Budget Forecasting and Performance Reporting</a>
                <a class="dropdown-item" href="fullserve.html#specEn">Specialized Energy Products and Services</a>
            </div> -->
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact</a>
        </li>
    </ul>
</nav>